$color: Crimson;

.my-flix {
	color: $color;
}

img {
	max-width: 100%;
}

.h-100 {
	position: relative;
}

.movie_title {
	text-align: center;
}

.fav_button {
	position: absolute;
	top: 10px;
	right: 10px;
}

.movie_img {
	height: 400px;
	object-fit: cover;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: center !important;
	align-items: center;
}

.fav_buttons {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

$primary: Crimson;
$body-bg: GhostWhite;

//import bootstrap
@import '~bootstrap/scss/bootstrap';
